<div class="registro-container d-flex flex-column justify-content-center align-items-center vh-100 w-100 bg-dark">
    <div class="card p-4 shadow-lg border border-secondary bg-secondary border-info-subtle text-light"
        style="min-width: 320px; max-width: 500px; width: 100%; background-color: #1b2838 !important">
        <h2 class="text-center text-info mb-4">Login</h2>

        @if(formulario !== undefined)
        {
        <form [formGroup]="formulario">
            <div class="mb-3"> <!-- Correo -->
                <input type="email" formControlName="correo" class="form-control" placeholder="Correo electrónico" />
                @if(correo?.errors !== null && correo?.touched)
                {
                    <div class="text-danger small mt-1">
                        @if(correo?.hasError('required')) { <p class="mb-1">El correo es requerido</p> }
                        @if(correo?.hasError('email')) { <p class="mb-1">Formato de correo inválido</p> }
                        @if(correo?.hasError('maxlength')) { <p class="mb-1">Máximo 50 caracteres</p> }
                    </div>
                }
            </div>

            <div class="mb-4 position-relative"> <!-- Clave con boton para ocultar -->
                <input [type]="mostrarClave ? 'text' : 'password'" formControlName="clave" class="form-control" placeholder="Contraseña" />
                <button type="button" (click)="verClave()" class="boton-clave">{{ mostrarClave ? '🙈' : '🙉' }}</button>

                @if(clave?.errors !== null && clave?.touched)
                {
                    <div class="text-danger small mt-1">
                        @if(clave?.hasError('required')) { <p class="error-clave">La clave es requerida</p> }
                        @if(clave?.hasError('minlength')) { <p class="error-clave">Mínimo 8 caracteres</p> }
                        @if(clave?.hasError('maxlength')) { <p class="error-clave">Máximo 20 caracteres</p> }
                        @if(clave?.hasError('pattern')){ <p class="error-clave">La clave debe contener al menos una mayúscula y un número</p> }
                    </div>
                }
            </div>

            <button (click)="login()" [disabled]="!formulario.valid" class="btn btn-info w-100 mb-3">Iniciar sesión</button>

            @if (mensajeLogin() != 'Sesión iniciada correctamente.')
            {
                <p class="text-danger mt-2 text-center">{{ mensajeLogin() }}</p>
            }
            @else
            {
                <p class="text-success mt-2 text-center">{{ mensajeLogin() }}</p>
            }

            <div class="d-flex flex-column gap-2 mt-4">
                <button type="button" class="btn btn-outline-info" (click)="loginRapido('usuario1')">Usuario 1</button>
                <button type="button" class="btn btn-outline-info" (click)="loginRapido('usuario2')">Usuario 2</button>
                <button type="button" class="btn btn-outline-info" (click)="loginRapido('usuario3')">Usuario 3</button>
            </div>

            <div class="text-center mt-3">
                <p class="text" style="font-size: 14px;">¿No tienes una cuenta? 
                    <a routerLink="/registro" class="text-info" style="text-decoration: none;">Regístrate aquí</a>
                </p>
            </div>
        </form>
        }
    </div>
    <br><button routerLink="/bienvenida" class="btn btn-info px-4 py-2 shadow-lg rounded-pill">Volver</button>
</div>