<div class="card">
    <h3>{{ publicacion.titulo }}</h3>
     <img
  *ngIf="publicacion.imagen"
  [src]="'http://localhost:3000/uploads/publicaciones/' + publicacion.imagen"
  class="imagen-grande"
/>
    <p>{{ publicacion.descripcion }}</p>
    <p>Autor: {{ publicacion.nombreUsuario }}</p>

    <button (click)="likear()">{{ 'Like' }} ({{ publicacion.meGustas.length }})</button>
    <br>
    <button (click)="deslikear()">{{ 'Dislike' }} ({{ publicacion.meGustas.length }})</button>
    <br>
    <div class="comentario-formulario">
        <textarea [(ngModel)]="nuevoComentario" placeholder="Escribe tu comentario..."></textarea>
        <button (click)="comentar()">Comentar</button>
    </div>

    <div *ngIf="comentarios.length > 0">
        <h4>Comentarios:</h4>
        <ul>
            <li *ngFor="let comentario of comentarios">
            <strong>{{ comentario.usuario?.nombre || 'Anónimo' }}</strong>: {{ comentario.texto }}
            </li>
        </ul>
    </div>

    <button *ngIf="hayMasComentarios" (click)="cargarComentarios()">Cargar más</button>
    <br>
    <button *ngIf="this.authService.usuarioLogueado.correo === this.publicacion.correoUsuario || 
        this.authService.usuarioLogueado.tipo === 'administrador'" (click)="eliminar()">Eliminar
    </button>
    <br>
    <div *ngIf="!editando">
  <button *ngIf="this.authService.usuarioLogueado.correo === this.publicacion.correoUsuario" (click)="activarEdicion()">Modificar</button>
</div>

    <div *ngIf="editando">
    <input [(ngModel)]="tituloEditado" placeholder="Nuevo título" />
    <textarea [(ngModel)]="descripcionEditada" placeholder="Nueva descripción"></textarea>
    <br>
    <button (click)="guardarCambios()">Guardar</button>
    <button (click)="cancelarEdicion()">Cancelar</button>
    </div>

    <br>
</div>