<h2>Crear publicación</h2>

<form [formGroup]="formulario" (ngSubmit)="enviar()">
    <label>Título:</label>
    <input type="text" formControlName="titulo" />

    <label>Descripción:</label>
    <textarea formControlName="descripcion"></textarea>

    <label>Imagen:</label>
    <input type="file" (change)="onFileChange($event)" accept=".jpg,.jpeg,.png"/>

    <div *ngIf="formulario.get('imagen')?.invalid && formulario.get('imagen')?.touched" class="text-danger"> La imagen es obligatoria. </div>
    <button type="submit">Publicar</button>
    <div class="btn-volver-container">
        <button routerLink="/publicaciones" class="btn-volver">Volver</button>
    </div>
</form>