<p>publicaciones works!</p>
<button (click)="mostrar()">mostrar</button>
<br>
<br>
<button routerLink="/mi-perfil">Mi perfil</button>
<p>hola {{this.authService.usuarioLogueado.nombre}}</p>

<br>
<br>

@if(this.authService.usuarioLogueado.tipo === 'administrador')
{
    <button routerLink="/dashboard-usuarios">Administrar usuarios</button>
    <br>
    <button routerLink="/dashboard-estadisticas">Ver estadisticas</button>
}

<button routerLink="/form-publicacion">crear publicacion</button>
<br><br>
<button (click)="cerrarSesion()">Cerrar sesion</button>

<div>
    <h2>Publicaciones</h2>

    <label>Ordenar por:</label>
    <select [(ngModel)]="orden" (change)="cambiarOrden(orden)">
        <option value="fecha">Fecha (mas reciente)</option>
        <option value="likes">Me gusta (mayor a menor)</option>
    </select>

    <select [(ngModel)]="usuarioSeleccionado" (change)="cambiarUsuario(usuarioSeleccionado)">
        <option [ngValue]="">Todos los usuarios</option>
        <option *ngFor="let usuario of usuarioTotales | async" [ngValue]="usuario.correo">
            {{ usuario.correo }}
        </option>
    </select>

    <div *ngFor="let pub of publicaciones">
        <app-publicacion [publicacion]="pub"></app-publicacion>
        <button (click)="abrirModal(pub)">Ver en grande</button> <!--agregado-->
    </div>

    <button (click)="paginaAnterior()" [disabled]="offset === 0">Anterior</button>
    <button (click)="siguientePagina()">Siguiente</button>

    <!-- Modal de publicación ampliada -->
    <div class="modal-backdrop" *ngIf="publicacionSeleccionada">
        <div class="modal-contenido">
            <span class="cerrar" (click)="cerrarModal()">&times;</span>
            <app-publicacion [publicacion]="publicacionSeleccionada"></app-publicacion>
        </div>
    </div>
</div>
